/*нужно запомнить что бывают два типа свойст во flax те которые работают с родителем*/
/*и те которые работают с дочерними элементами*/
.flex{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.item{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
}