.grid {
    display: grid;
    /*обозначает что 1 колонка от 150-250, вторая 1fr третья 1fr*/
    grid-template-columns: minmax(150px, 250px) 1fr 1fr;
   /*так можно задать высоту мин 100 мах auto
   auto означает что если в блок будет помещен например большой текст то блок его поместит
   */
    grid-auto-rows: minmax(100px, auto);
    /*!*задает пространство между калонками*!*/
    /*grid-column-gap: 20px;*/
    /*!*задает пространство между рядами*!*/
    /*grid-row-gap:20px;*/
    /*можно заменить*/
    grid-gap:20px;
}

.grid div {
    background-color: #28314E;
    border: 1px solid #212941;
    border-radius: 5px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;
}

.grid div:nth-child(odd) {
    background-color: #475477;
}
