.grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
   /*задает высоту всех колонок сразу*/
    grid-auto-rows: 100px;
    /*задает пространство между калонками*/
    grid-column-gap: 20px;
    /*задает пространство между рядами*/
    grid-row-gap:20px;
}

.grid div {
    background-color: #28314E;
    border: 1px solid #212941;
    border-radius: 5px;
    padding: 8px 15px;
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;
}

.grid div:nth-child(odd) {
    background-color: #475477;
}
